<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ApplicationsDir" value="C:\Users\dieguito12\Code\sharpener-framework\src\Mvc\bin\Debug"/>
      <add key="ResourcesDir" value="C:\Users\dieguito12\Code\sharpener-framework\src\PHttp\Resources"/>
    </appSettings>
</configuration>